[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
streamlit = "*"
pandas = "*"
python-dotenv = "*"
mkdocstrings = {extras = ["python"], version = "*"}
twine = "*"
build = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.12"
